{{ define "main" }}
  <aside class="left"></aside>
  <main id="main">
    <section class="masonry">
      {{ $paginator := .Paginate (where .Pages "Type" "notification") }} 
      {{ range $paginator.Pages }} 
        {{ $dateFormat := default "2006-01-02" (index .Site.Params "date_format") }}
        {{ $author :=  .Site.Params.Author | default .Params.Author }} 

        <div class="card {{ .Params.color }}">

          <div class="media">
            {{ if .Params.image }}
              <figure class="image">
                <a href="{{ .Params.hyperlink }}"><img src="{{ .Params.image }}"></a> 
              </figure>
            {{ end }}
            {{ if .Params.video }}
              <figure class="image">
                <iframe width="100%" src="https://www.youtube.com/embed/{{ .Params.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
              </figure>
            {{ end }}
          </div>

      {{ if .Truncated }}
          <div class="doc">
            {{ .Summary }}
          </div>
        {{ else }}
          <div class="doc">
            {{ .Content }}
          </div>
        {{ end }}

          <footer class="document" style="justify-content: flex-end">

            <div class="tags">
              <span class=""><a href="{{ .Params.hyperlink }}" rel="tag">{{ .Params.Title }}</a></span>
            </div>
          </div>
        </footer>

      {{ end }}
    </section>

    <div class="pagination">
      {{ template "_internal/pagination.html" . }}
    </div>
  </main>
  <aside class="right"></aside>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

