<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="grid">
    <header id="header">
      {{ partial "navbar.html" . }}
    </header>
    <aside class="left">
      {{ partial "sidebar.html" . }}
    </aside>
    <aside class="right">
      {{ partial "page-meta-links.html" . }}
      {{ partial "toc.html" . }}
      {{ partial "taxonomy_terms_clouds.html" . }}
    </aside>
    <main id="main" class="main" role="main">
      {{ partial "version-banner.html" . }}
      {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
        {{ block "main" . }}{{ end }}
      </main>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
