/* weird block quote inside quote */
#preamble .abstract blockquote {
  background: var(--quote-background);
  border-left: 5px solid var(--abstract-border-color);
  color: var(--abstract-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  padding: 0.75em 1em;
}

/* fix bold for vocab dict headword */
.doc .hdlist1 {
  font-weight: bold;
  font-style: italic;
}

/* style for reveal answers align properly */
summary {
  list-style: inherit;
  border: none;
}

details p {
  cursor: auto;
  background: inherit;
  border-radius: 4px;
  right: 0;
}

details[open] p {
  animation: animateDown 0.4s linear forwards;
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* icons locations */


.doc .admonitionblock.caution td.icon i {
  background-image: url(../images/icons/octicons-16.svg#view-flame);
}

.doc .admonitionblock.important td.icon {
  background-color: var(--important-color);
  color: var(--important-on-color);
}

.doc .admonitionblock.important td.icon i {
  background-image: url(../images/icons/octicons-16.svg#view-stop);
}

.doc .admonitionblock.note td.icon {
  background-color: var(--note-color);
  color: var(--note-on-color);
}

.doc .admonitionblock.note td.icon i {
  background-image: url(../images/icons/octicons-16.svg#view-info);
}

.doc .admonitionblock.tip td.icon {
  background-color: var(--tip-color);
  color: var(--tip-on-color);
}

.doc .admonitionblock.tip td.icon i {
  background-image: url(../images/icons/octicons-16.svg#view-light-bulb);
}

.doc .admonitionblock.warning td.icon {
  background-color: var(--warning-color);
  color: var(--warning-on-color);
}

.doc .admonitionblock.warning td.icon i {
  background-image: url(../images/icons/octicons-16.svg#view-alert);
}
