@media screen and (max-width: 768.5px) {
  html.is-clipped--nav {
    overflow-y: hidden;
  }

  /* NOTE workaround bug in Firefox mobile, which clips the html element to the original viewport height */
  @supports (scrollbar-width: none) {
    html.is-clipped--nav {
      overflow-y: initial;
      scrollbar-width: none;
    }
  }
}

.nav-container {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  font-size: calc(17 / var(--rem-base) * 1rem);
  z-index: var(--z-index-nav);
  visibility: hidden;
}

@media screen and (min-width: 769px) {
  .nav-container {
    width: var(--nav-width);
  }
}

@media screen and (min-width: 1024px) {
  .nav-container {
    font-size: calc(15.5 / var(--rem-base) * 1rem);
    flex: none;
    position: static;
    visibility: visible;
    height: var(--nav-height--desktop);
  }
}

.nav-container.is-active {
  visibility: visible;
}

.nav {
  background: var(--nav-background);
  position: relative;
  top: var(--toolbar-height);
  height: var(--nav-height);
}

@media screen and (min-width: 769px) {
  .nav {
    box-shadow: 0.5px 0 3px var(--nav-border-color);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    top: var(--navbar-height); /* fixed position is relative to viewport */
    box-shadow: none;
    position: fixed;
    width: inherit;
    height: inherit;
  }
}

.nav .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.nav-panel-menu {
  overflow-y: scroll;
  overscroll-behavior: none;
  height: var(--nav-panel-menu-height);
}

.nav-panel-menu.is-loading {
  visibility: hidden;
}

.nav-panel-menu:not(.is-active) .nav-menu {
  opacity: 0.75;
}

.nav-panel-menu:not(.is-active)::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-menu {
  min-height: 100%;
  padding: 0.5rem 0.75rem;
  line-height: var(--nav-line-height);
  position: relative;
}

.nav-menu-toggle {
  background: transparent url(..images/icons/octicons-24.svg#view-unfold) no-repeat center / 100% 100%;
  border: none;
  outline: none;
  width: 0.9rem;
  height: 0.9rem;
  opacity: 0.5;
  position: sticky;
  top: 0.8075rem;
  margin-right: -0.5rem;
  float: right;
  visibility: hidden;
}

.nav-menu-toggle.is-active {
  background-image: url(..images/icons/octicons-24.svg#view-fold);
}

.nav-panel-menu.is-active:hover .nav-menu-toggle {
  visibility: visible;
}

.nav-menu h3.title {
  color: var(--nav-heading-font-color);
  font-size: 0.9rem;
  font-weight: var(--body-font-weight-bold);
  margin: 0.15rem 0 0;
  padding: 0;
}

.nav-menu a {
  color: inherit;
}

.nav-list {
  margin: 0 0 0 0.75rem;
  padding: 0;
}

.nav-menu > .nav-list + .nav-list {
  margin-top: 0.5rem;
}

.nav-item {
  list-style: none;
  margin-top: 0.5em;
}

/* adds some breathing room below a nested list */
.nav-item-toggle ~ .nav-list {
  padding-bottom: 0.125rem;
}

/* matches list without a title */
.nav-item[data-depth="0"] > .nav-list:first-child {
  display: block;
  margin: 0;
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

.nav-item-toggle {
  background: transparent url(..images/icons/octicons-16.svg#view-triangle-right) no-repeat center / 100% 100%;
  opacity: 0.25;
  border: none;
  outline: none;
  line-height: inherit;
  position: absolute;
  height: calc(var(--nav-line-height) * 1em);
  width: calc(var(--nav-line-height) * 1em);
  margin: -0.05em 0 0 calc(var(--nav-line-height) * -1em);
}

.nav-item.is-active > .nav-item-toggle {
  background-image: url(..images/icons/octicons-16.svg#view-triangle-down);
}

.is-current-page > .nav-link,
.is-current-page > .nav-text {
  /*
  font-weight: var(--body-font-weight-bold);
  letter-spacing: -0.004em;
  */
  -webkit-text-stroke-width: 0.02em;
}

.nav-panel-explore {
  background: var(--nav-background);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-panel-explore:not(:first-child) {
  top: auto;
  max-height: var(--nav-panel-explore-height);
}

.nav-panel-explore .context {
  font-size: calc(15 / var(--rem-base) * 1rem);
  flex-shrink: 0;
  color: var(--nav-muted-color);
  box-shadow: 0 -1px 0 var(--nav-panel-divider-color);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  height: var(--drawer-height);
}

.nav-panel-explore:not(:first-child) .context {
  cursor: pointer;
}

.nav-panel-explore .context .version {
  padding-right: 0.25rem;
}

.nav-panel-explore:not(:first-child) .context .version::after {
  content: "";
  background: url(..images/icons/octicons-16.svg#view-chevron-down) no-repeat center right -0.15em / 1em 1em;
  filter: var(--nav-muted-icon-filter);
  padding-right: 1.25em;
  margin-right: -0.25rem;
}

.nav-panel-explore .components {
  line-height: 1.3;
  flex-grow: 1;
  box-shadow: inset 0 1px 5px var(--nav-panel-divider-color);
  background: var(--nav-secondary-background);
  padding: 0.5rem 0.75rem 0 0.75rem;
  margin: 0;
  overflow-y: scroll;
  max-height: 100%;
  display: block;
}

.nav-panel-explore:not(.is-active) .components {
  display: none;
}

.nav-panel-explore .component {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-panel-explore .component + .component {
  margin-top: 0.5rem;
}

.nav-panel-explore .component:last-child {
  margin-bottom: 0.75rem;
}

.nav-panel-explore .component .title {
  font-weight: var(--body-font-weight-bold);
  color: inherit;
  margin-top: 0.25rem;
  flex: none;
}

.nav-panel-explore .component .title:not(:only-child) {
  max-width: 66.66%;
}

.nav-panel-explore .versions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  line-height: 1;
}

.nav-panel-explore .component .version {
  display: block;
  margin: 0.25rem 0 0 0.25rem;
}

.nav-panel-explore .component .version a {
  border: 1px solid var(--nav-border-color);
  border-radius: 0.25rem;
  color: inherit;
  opacity: 0.75;
  white-space: nowrap;
  padding: 0.125em 0.25em;
  display: inherit;
}

.nav-panel-explore .component .is-current a {
  border-color: currentColor;
  opacity: 0.9;
  font-weight: var(--body-font-weight-bold);
}
