.page-versions {
  margin: 0 0.2rem 0 auto;
  position: relative;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  .page-versions {
    margin-right: 0.7rem;
  }
}

.page-versions .version-menu-toggle {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0.5rem;
  position: relative;
  z-index: var(--z-index-page-version-menu);
}

.page-versions .version-menu-toggle::after {
  content: "";
  background: url(..images/icons/octicons-16.svg#view-chevron-down) no-repeat center right -0.15em / 1em 1em;
  filter: var(--toolbar-icon-filter);
  padding-right: 1rem;
}

.page-versions .version-menu {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
  padding: 1.375rem 1.5rem 0.5rem 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}

.page-versions:not(.is-active) .version-menu {
  display: none;
}

.page-versions .version {
  display: block;
  padding-top: 0.5rem;
}

.page-versions .version.is-current {
  display: none;
}

.page-versions .version.is-missing {
  color: var(--page-version-missing-font-color);
  font-style: italic;
  text-decoration: none;
}
