.toolbar {
  color: var(--toolbar-font-color);
  align-items: center;
  background-color: var(--toolbar-background);
  box-shadow: 0 1px 0 var(--toolbar-border-color);
  display: flex;
  font-size: calc(15 / var(--rem-base) * 1rem);
  height: var(--toolbar-height);
  justify-content: flex-start;
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--z-index-toolbar);
}

.toolbar a {
  color: inherit;
}

.nav-toggle {
  background: url(..images/icons/octicons-24.svg#view-file-directory) no-repeat center / 50% 50%;
  filter: var(--toolbar-primary-icon-filter);
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0;
  margin-right: -0.625rem;
  height: var(--toolbar-height);
  width: var(--toolbar-height);
}

@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle.is-active {
  background-image: url(..images/icons/octicons-24.svg#view-arrow-left);
}

.home-link {
  display: block;
  background: url(..images/icons/octicons-24.svg#view-home) no-repeat center / 100% 100%;
  height: calc(var(--toolbar-height) / 2);
  width: calc(var(--toolbar-height) / 2);
  margin: calc(var(--toolbar-height) / 4);
  margin-right: 0.5rem;
  filter: var(--toolbar-primary-icon-filter);
}

.home-link:hover,
.home-link.is-current {
  background-image: url(..images/icons/octicons-24.svg#view-home-fill);
}

.edit-this-page {
  display: none;
  padding-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .edit-this-page {
    display: block;
  }
}

.toolbar .edit-this-page a {
  color: var(--toolbar-muted-color);
}
