@charset "utf-8";
/*
@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";
//@import "../themes/site-golo.scss";
//@import "./site.scss";
*/

// local fonts:
@import url(/font/brygada-1918/latin-ext-700.css);
@import url(/font/brygada-1918/latin-ext-400-italic.css);
@import url(/font/brygada-1918/latin-ext-700-italic.css);
@import url(/font/brygada-1918/latin-ext-400.css);
@import url(/font/cousine/latin-ext-700.css);
@import url(/font/cousine/latin-ext-400-italic.css);
@import url(/font/cousine/latin-ext-700-italic.css);
@import url(/font/cousine/latin-ext-400.css);
@import url(/font/noto-sans/latin-ext-700.css);
@import url(/font/noto-sans/latin-ext-400-italic.css);
@import url(/font/noto-sans/latin-ext-700-italic.css);
@import url(/font/noto-sans/latin-ext-400.css);
@import url(/font/inter/latin-ext-700.css);
@import url(/font/inter/latin-ext-400.css);
@import url(/font/balsamiq-sans/latin-ext-700.css);
@import url(/font/balsamiq-sans/latin-ext-400-italic.css);
@import url(/font/balsamiq-sans/latin-ext-700-italic.css);
@import url(/font/balsamiq-sans/latin-ext-400.css);
@import url(/font/andika/latin-ext-400.css);
@import url(/font/gentium-basic/latin-ext-700.css);
@import url(/font/gentium-basic/latin-ext-400-italic.css);
@import url(/font/gentium-basic/latin-ext-700-italic.css);
@import url(/font/gentium-basic/latin-ext-400.css);
@import url(/font/tinos_latin-ext/index.css);
@import url(/font/varela/latin-ext-400.css);
@import url(/css/custom.css);

$body-size: 18px;
$title-size: 1.25rem;
$body-line-height: 1.5rem;

// bulma orange is red?? fix it!

$primary: black;
$secondary: #e8c547; 

@import "../antora/vars-custom";

$accent: var(--grey-lighter);
$secondary: var(--color-secondary); 

//asciidoc
//asciidoctor admonitions will correspond a bit to bulma

/* bulma   asciidoctor          antora color
info         note               blue
success      tip                green
warning      warning            orange
danger       caution            purple
primary      important          yellow
primary      important          yellow

*/
// set up asciidoctor custom colors

$note-color: var(--note-color);
$tip-color: var(--tip-color);
$warning-color: var(--warning-color);
$caution-color: var(--caution-color);
$important-color: var(--important-color);
$important-color: var(--important-color);

$purple: #802392;
$green: #43b929;
$yellow: #e8c547;
$red: #e40046;
$orange: #ff6f00;
$orange: #ff8606;

/* copy colors to bulma
$info: #2d7dd2;  //note
$sucess: #43b929;  //tip
$warning: #f70;   //warning
$danger: #302392; //caution
$primary: #e8c547; //antora yellow primary 
*/

// Fonts 
$family-sans-serif: "Noto Sans", Helvetica, Arial, sans-serif;
$family-monospace: "Cousine", monospace;
$family-code: "Inconsolata-Powerline",monospace;
$family-primary: $family-sans-serif;

$footer-background-color: $accent;

// Import only what you need from Bulma
//-
//* everything
// @import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../node_modules/bulma/sass/utilities/controls.sass";
@import "../../node_modules/bulma/sass/utilities/extends.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";
// icon breaks admonitions
//@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/menu.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/components/panel.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../../node_modules/bulma/sass/components/pagination.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/grid/tiles.sass";
//@import "../../node_modules/bulma/bulma.sass";

$info: $note-color;
$sucess: $tip-color;
$warning: $warning-color;
$danger: $caution-color;

//custom for important
//custom for important
$important: $important-color;
$important: $important-color;

$invert-note: findColorInvert($note-color);
$invert-tip: findColorInvert($tip-color);
$invert-warning: findColorInvert($warning-color);
$invert-caution: findColorInvert($caution-color);
$invert-important: findColorInvert($important-color);
$invert-important: findColorInvert($important-color);
$invert-secondary: findColorInvert($secondary);

$custom-colors: (
  "orange": ($orange, $orange-invert),
  "secondary": ($secondary, $invert-secondary),
  "caution": ($caution-color, $invert-caution),h
  "accent": ($accent)
);

//site style

$pagination-background-color: $grey-lighter;
$pagination-current-background-color: $grey-light;
$pagination-active-color: $dark;
$button-color: $grey-darker;

$navbar-height: $body-line-height;


$border-dark: $primary-dark;

$panel-background: $white-bis;
$panel-border-color: $grey-lighter;

$abstract-background: $grey-lighter;
$abstract-border-color: $panel-border-color; 

$example-background: $white-ter;
$example-border-color: $panel-border-color; 

$sidebar-background: $grey-lighter;

$kbd-background: $panel-background;
$kbd-border-color: $grey-dark;

$quote-background: $panel-background;
$quote-border-color: $grey-dark;

$pre-background: $white-ter;
$code-background: $pre-background;

// @import "../../node_modules/bulma/bulma.sass";
//fix asciidoc quote style

// $content-blockquote-border-left: 0px;
// $content-blockquote-background-color: $white-ter; 

// @import "./doc.scss";
// @import "./tables.scss";
// @import "./admonitions.scss";
// @import "./asciidoc.scss";
// @import "./fonts.scss";
// @import "../css/admonitions.css";
// @import "./powerline.scss";

@import "../css/grid";
@import "../css/blog";
@import "../css/navbar";
@import "../css/sidebar";
@import "../css/toc";
@import "../css/toc-dico";
@import "../css/custom";
// needed for hugo internal pagination (based on the other css framework)
@import "../css/pagination";
@import "../antora/doc";
@import "../antora/custom";
@import "../css/columns-custom";
// @import "../antora/column-custom";

// put this somewhere later
span.tag.is-dark a {
color: white;
}
