<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="grid">
    <header id="header">
      {{ partial "navbar.html" . }}
    </header>
    <aside class="container left">
      {{- partial "sidebar.html" . -}}
      {{- /*  {{- partial "sidebar.html" . -}} */ -}}
    </aside>
    <aside class="right">
      {{ partial "page-meta-links.html" . }}
      {{ partial "toc.html" . }}
      {{ partial "taxonomy_terms_clouds.html" . }}
    </aside>
    <main id="main" class="container main" role="main">
      {{ with .CurrentSection.OutputFormats.Get "rss" -}}
        {{- /*
        <a class="btn btn-lg -bg-orange td-rss-button d-none d-lg-block" href="{{ .Permalink | safeURL }}" target="_blank">
          RSS <i class="fa fa-rss ml-2 "></i>
        </a>
        */ -}}
      {{ end -}}
      {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
      {{ partial "scripts.html" . }}
  </body>
</html>
