<div class="container box">
  {{ if .Params.Image }}
  <figure class="image">
    <img src="{{ .Params.Image }}"> 
  </figure>
  {{ end }}
  <h1 class=title>{{ .Title }}</h1>
  {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}

  <span class="tags">
    <div class="tag">
      {{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
    </div>
    <div class="tag">
      <time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>
    </div>
    {{ $context := . }}
    {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
    {{ partial "meta.html" . }}
    <br>
    {{ end }}
  </span>
  <div>
    {{ partial "translate.html" . }}
  </div>
  <div class="doc">
    {{ .Content }}
  </div>
  {{ if (.Site.Params.DisqusShortname) }}
  <br />
  {{ partial "disqus-comment.html" . }}
  <br />
  {{ end }}
</div>
{{ partial "pager.html" . }}
