<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body class="grid">
    <header id="header">
      {{- partial "navbar.html" . -}}
    </header>
    <aside class="left">
      {{- /*  {{- partial "sidebar.html" . -}} */ -}}
    </aside>
    <aside class="right">
      {{- partial "toc.html" . -}}
    </aside>
    <main id=main>
      {{- block "main" . }}{{- end }}
      </main>
      {{- partial "footer.html" . -}}
      {{- partial "scripts.html" . -}}
  </body>
</html>
