  {{ define "main" }}
      <article>
        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        {{ .Content }}
        <div class="panel">
          This is a partial
        {{ partial "fonts" . }}
        </div>
      </article>
  {{ end }}
  {{- /* vim: set ts=2 sw=2 et: */}}
