  {{ define "main" }}
      {{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
      <article class="box">
        {{ $tagcolor := .Site.Params.params.color }}

        {{ if .Params.Image }}
          <div class="image">
            <img src="{{ .Params.Image }}"> 
            </figure>
          </div>
        {{ end }}

        {{- /*
        */ -}}

        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>

        <div class="">
        {{ partial "translate" . }}
        </div>

        <div class="doc">
          {{ .Content }}
        </div>

        <row class="space-between">
        <div class="share">
        {{ if (ne ($.Param "share") false) }}
          {{ partial "share" . }}
        {{ end }}
        </div>

        <div class="pageedit">
          <div class="tag"> <a class="code" href="{{ .Site.Params.gitrepo }}/{{ .Site.Params.gitpath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}"
                                                        target="_blank" rel="noopener" alt="{{ i18n "pageedit"}}"><span>{{ T "post_edit_this" }}</span></a></div>
        </div>
        </row>

        <row class="discus">
        {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
          {{ template "_internal/disqus.html" . }}
        {{ end }}
        </row>

      </article>
  {{ end }}
  {{- /* vim: set ts=2 sw=2 et: */}}
