  {{ define "main" }}

    <section class="blog">
    {{ $paginator := .Paginate (where .Pages "Type" "blog") }} 
      {{ range $paginator.Pages }} 
        {{ $dateFormat := default "2006-01-02" (index .Site.Params "date_format") }}
        {{ $author := default .Site.Params.Author (index .Params "author") }} 

        <div class="card">
          {{ if .Params.Image }}
            <figure class="image">
              <img src="{{ .Params.Image }}"> 
            </figure>
          {{ end }}

          <h4 class="card-title">
            <a href="{{ .Permalink }}">
              {{ if .Truncated }}
              <span class="iconify" data-icon="carbon:text-indent-more"></span>
            {{ end }}
            {{ .Title | markdownify }}</a>
          </h4>

          <div class="tags">
            {{ if $author }}<div class="tag">{{ $author }}</div>|{{ end }}
              <div class="tag"><time>{{ .PublishDate.Format $dateFormat }}</time></div>
          </div>

          <div class="doc">
            {{ if .Truncated }}
              {{ .Summary }}
              <div>
                <a  href="{{ .RelPermalink }}"><span class="iconify" data-icon="carbon:more-horizontal"></span>
              </div>
            {{ else }}

            <div class="doc">
              {{ .Content }}
            </div>
          {{ end }}
          </div>

          <div class="card-footer">
            {{ partial "meta.html" . }}
          </div>
        </div>

      {{ end }}
    </section>

    <div class="pagination">
      {{ template "_internal/pagination.html" . }}
    </div>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

