{{ define "main" }}
<div class="content">
  <main class="taxonomy-terms-page">
    <h1 class="title">{{ .Title }}</h1>
    {{ partial "taxonomy_terms_cloud.html" (dict "context" . "taxo" ( lower .Title ) ) }}
  </main>
</div>
{{ end }}
