pre { white-space: pre-wrap; }

pre {
  max-width: 100%;
  overflow: hidden;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  grid-template-rows: 400px, auto;
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .blog {
    grid-template-columns:  1fr;
  }
}

@media (min-width: 769px) {
  .blog .card:nth-of-type(1){
    grid-column: span 3;
  }
  .blog .card:nth-of-type(1n+2){
    grid-column: span 2;
  }
  .blog .card:nth-of-type(1n+3){
    grid-column: span 1;
  }
  .blog .card:nth-of-type(1n+5){
    grid-column: span 2;
  }
  .blog .card:nth-of-type(1n+7){
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .blog .card:nth-of-type(1){
    grid-column: span 1;
    grid-row: span 1;
  }
}
/*
.card:nth-of-type(1n+2) {
  grid-column: span 2;
  grid-row: span 1;
}

.card:nth-of-type(4n+3),
.card:nth-of-type(4n+4) {
  grid-column: span 2;
  grid-row: span 1;
}
 */
.masonry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

@media (max-width: 768px) {
   .masonry {
    grid-template-columns:  1fr;
  }
}

 .masonry .card:nth-of-type(1n+1){
    grid-column: span 1;
  }
  /* inspired from https://github.com/regisphilibert/rp_hugo_theme/blob/master/assets/sass/modules/_Card.scss  bk */

  section .card {
    font-size: 1rem;
    transition: padding-left 150ms;
    position: relative;
    display: inline-block;
  }
  section .card:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: var(--accent);
    transition: width 150ms;
  }
  section .card:hover {
    padding-left: 3em;
  }
  section .card:hover:before {
    width: .8em;
  }
  .card:nth-of-type(1){
    padding-left: 3em;
  }
  .card:nth-of-type(1):before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--accent);
    width: .8em;
}

