.header {
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
}

summary.title {
    margin-top: 1em;
    font-size: 1em;
    font-weight: normal;
    outline: none;
}

details[open] {
    background: light-green;
font-weight: normal;    /* the style goes here */
}

a img.icon{
  display: inline-block;
  width: 1rem;
}

@media only screen and (max-width: 768px) {
  /* Force table to not be like tables anymore */
  table, 
  thead, 
  tbody, 
  th, 
  td { 
    display: block; 
  }

  table.flex tbody > tr {
    display: flex;
    flex-flow: row wrap;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table.flex  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  table.flex  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    flex-basis: 1 1 0;
  }

  table.flex  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }

  table.flex  td:nth-of-type(1) {
    flex-basis: max-content;
  }

  /*
Label the data
  td:nth-of-type(1):before { content: ""; }
  td:nth-of-type(2):before { content: ""; }
  td:nth-of-type(3):before { content: ""; }
  td:nth-of-type(4):before { content: ""; }
  td:nth-of-type(5):before { content: ""; }
  td:nth-of-type(6):before { content: ""; }
  td:nth-of-type(7):before { content: ""; }
  td:nth-of-type(8):before { content: ""; }
  td:nth-of-type(9):before { content: ""; }
  td:nth-of-type(10):before { content: ""; }
  */
}

/* put this with admonitions; when loading fontawesome changes font to serif*/
i.fa {
font: inherit;
}

/* colors are missing from asciidoc stylesheet */
.doc .red { color: #bf0000; }
.doc .red-background { background-color: #fa0000; }
/* get this style from golo */
.doc .conum[data-value] { display: inline-block; color: #fff !important; background-color: rgba(0, 0, 0, 0.8); -webkit-border-radius: 50%; border-radius: 50%; text-align: center; font-size: 0.75em; width: 1.67em; height: 1.67em; line-height: 1.67em; font-family: "Open Sans", "DejaVu Sans", sans-serif; font-style: normal; font-weight: bold; }
.doc .conum[data-value] * { color: #fff !important; }
.doc .conum[data-value] + b { display: none; }
.doc .conum[data-value]:after { content: attr(data-value); }
pre .doc .conum[data-value] { position: relative; top: -0.125em; }
.doc b.conum * { color: inherit !important; }
.doc .conum:not([data-value]):empty { display: none; }
