pre {
  max-width: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: minmax(0,1fr) 70% minmax(0,1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;

  grid-template-areas:
    "head head head"
    "left main right"
    "foot foot foot";

  min-height: 100vh;
}

/* docsy has a document header class too!! */
#header {
  position: sticky;
  top: 0;
  grid-area: head;
  z-index: 999;
}

aside.left {
  grid-area: left;
  margin-left: 0.5rem;
}

main {
  grid-area: main;
  margin: .5rem;
}

aside.right {
  display: flex;
  flex-flow: column;
  top: 4rem;
  grid-area: right;
  margin-right: 0.5rem;
}

footer {
  grid-area: foot;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "main"
      "left"
      "right"
      "foot";
  }
}

