.space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.share {
  line-height: 2rem;
  flex-basis: content;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.share img.icon{
  width: 2rem;
}

img.icon.share{
  width: 2rem;
}

.discus {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  display: block;
  position: relative;
}

img {
  display: block;
  height: auto;
  width: 100%;
}
