nav>navbar {
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  top: 0;
}

nav ul {
  display:flex;
  justify-content: space-around;
  list-style: none;
  padding-right: 0px;
  padding-left: 0px;
}

/* for docsy */
aside>div>nav ul {
  flex-flow: column;
}

.navbar-dropdown>ul {
  flex-flow: column;
}

.navbar-dropdown>ul>li {
  display: flex;
  flex-flow: row norwap;
  justify-content: space-between;
}

.languages {
  align-self: flex-end;
  position: absolute;
  background-color: var(--grey-light);
  padding: 0.5em 1em;
  display: flex;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-left: 3rem;
}
.languages a {
  text-transform: uppercase;
  font-size: 0.6em;
  color: var(--navbar-background);
  text-decoration: none;
  letter-spacing: 0.1em;
}
.languages a.is-active {
  font-weight: bold;
  color: var(--accent);
}
.languages a:not(:last-child):after {
  content: " |";
  color: var(--navbar-background);
}
.languages a:not(:first-child) {
  padding: 0rem .2rem 0rem .2rem; 
}
.navbar-link:not(.is-arrowless)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
width: 0.625em; }

.navbar {
  /* bk changed min-height to height */
  height: var(--navbar-height);
  background-color: var(--navbar-background);
  color: var(--navbar-color); 
  font-family: var(--navbar-font-family);
  font-size: 1.2rem;
  font-weight: bold;
z-index: 30; }

/* navbar brand background=forground */
.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
color: var(--navbar-background); }
.navbar .navbar-brand > a.navbar-item:focus, .navbar .navbar-brand > a.navbar-item:hover, .navbar .navbar-brand > a.navbar-item.is-active,
.navbar .navbar-brand .navbar-link:focus,
.navbar .navbar-brand .navbar-link:hover,
.navbar .navbar-brand .navbar-link.is-active {
  background-color: var(--accent);
  /* this is the brand font color  bk */
color: var(--navbar-background); }
.navbar .navbar-brand .navbar-link::after {
border-color: var(--navbar-color); }

.navbar .navbar-burger {
color: var(--navbar-color); }

.navbar.has-shadow {
box-shadow: 0 2px 0 0 whitesmoke; }

.navbar-brand {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  min-height: var(--navbar-height); 
  background-color: var(--accent);
  color: var(--navbar-background);
}

.navbar-brand a.navbar-item:focus, .navbar-brand a.navbar-item:hover {
  background-color: var(--navbar-background); 
}

.navbar-burger {
  color: var(--navbar-color);
  cursor: pointer;
  display: block;
  height: var(--navbar-height);
  position: relative;
  width: 3.25rem;
margin-left: auto; }
.navbar-burger span {
  background-color: var(--white-ter);  /* this is the 3 burger lines */
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
width: 16px; }
.navbar-burger span:nth-child(1) {
top: calc(50% - 6px); }
.navbar-burger span:nth-child(2) {
top: calc(50% - 1px); }
.navbar-burger span:nth-child(3) {
top: calc(50% + 4px); }
.navbar-burger:hover {
  color: var(--navbar-color);
background-color: rgba(0, 0, 0, 0.05); }
.navbar-burger.is-active span:nth-child(1) {
transform: translateY(5px) rotate(45deg); }
.navbar-burger.is-active span:nth-child(2) {
opacity: 0; }
.navbar-burger.is-active span:nth-child(3) {
transform: translateY(-5px) rotate(-45deg); }

.navbar-burger:hover span {
  background-color: var(--navbar-color-dark);
}

.navbar-menu {
display: none; }

.navbar-item,
.navbar-link {
  color: var(--navbar-color);
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
position: relative; }
.navbar-item .icon:only-child,
.navbar-link .icon:only-child {
  margin-left: -0.25rem;
margin-right: -0.25rem; }

a.navbar-item,
.navbar-link {
  cursor: pointer; 
  text-decoration: none; /* bk */
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: var(--navbar-color-dark);
  background-color: var(--accent);
}

.navbar-item {
  flex-grow: 0;
flex-shrink: 0; }
.navbar-item img {
max-height: 1.75rem; }
.navbar-item.has-dropdown {
padding: 0; }
.navbar-item.is-expanded {
  flex-grow: 1;
flex-shrink: 1; }

.navbar-link:not(.is-arrowless) {
padding-right: 2.5em; }
.navbar-link:not(.is-arrowless)::after {
  border-color: #3273dc;
  margin-top: -0.375em;
right: 1.125em; }

.navbar-dropdown {
  display: none;
  font-size: 0.875rem;
  /* is this the culprit? .5*/
  padding-bottom: 0rem;
  padding-top: 0.5rem;
  background-color: var(--navbar-dropdown-background);
}
.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
padding-right: 1.5rem; }

.navbar-divider {
  background-color: var(--accent);
  border: none;
  display: none;
  height: 2px;
margin: 0.5rem 0; }

@media screen and (max-width: 1023px) {
  .navbar-start ul {
    justify-content: flex-start;
  }
  .languages {
    margin-left: 0;
  }
  .navbar-item.languages {
    margin-top: 10px;
  }
  .navbar-brand .navbar-item,
  .navbar-item {
    align-items: center;
    display: flex;
    display: block;
  }
  .navbar-link::after {
  display: none; }
  .navbar-menu {
    background-color: var(--navbar-background);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  padding: 0.5rem 0; }
  .navbar-menu.is-active {
  display: block; }
  .navbar-burger {
    color: var(--accent);
    background-color: var(--navbar-background);
  }
}

@media screen and (min-width: 1024px) {
  .navbar .navbar-start > .navbar-item,
  .navbar .navbar-start .navbar-link,
  .navbar .navbar-end > .navbar-item,
  .navbar .navbar-end .navbar-link {
  color: var(--navbar-color); }
  .navbar .navbar-start > a.navbar-item:focus, .navbar .navbar-start > a.navbar-item:hover, .navbar .navbar-start > a.navbar-item.is-active,
  .navbar .navbar-start .navbar-link:focus,
  .navbar .navbar-start .navbar-link:hover,
  .navbar .navbar-start .navbar-link.is-active,
  .navbar .navbar-end > a.navbar-item:focus,
  .navbar .navbar-end > a.navbar-item:hover,
  .navbar .navbar-end > a.navbar-item.is-active,
  .navbar .navbar-end .navbar-link:focus,
  .navbar .navbar-end .navbar-link:hover,
  .navbar .navbar-end .navbar-link.is-active {
    background-color: var(--navbar-background);
  color: var(--navbar-color); }
  .navbar .navbar-start .navbar-link::after,
  .navbar .navbar-end .navbar-link::after {
  border-color: var(--accent); }
  .navbar .navbar-item.has-dropdown:focus .navbar-link,
  .navbar .navbar-item.has-dropdown:hover .navbar-link,
  .navbar .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: var(--navbar-background);
  color: var(--navbar-color); }
  .navbar .navbar-dropdown a.navbar-item.is-active {
    background-color: var(--navbar-background);
  color: var(--navbar-color); } 
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    justify-content: space-around; /* bk */
  display: flex; }
  .navbar {
  min-height: var(--navbar-height); }
  .navbar {
  padding: 0rem 6rem; }
  .navbar .navbar-start,
  .navbar .navbar-end {
    margin-left: 10px;
    align-items: center; }
  .navbar a.navbar-item,
  .navbar .navbar-link {
  border-radius: 4px; }
  .navbar-burger {
  display: none; }
  .navbar-item,
  .navbar-link {
    align-items: center;
  display: flex; }
  .navbar-item.has-dropdown {
  align-items: stretch; }
  .navbar-item.has-dropdown-up .navbar-link::after {
  transform: rotate(135deg) translate(0.25em, -0.25em); }
  .navbar-item.has-dropdown-up .navbar-dropdown {
    border-bottom: 2px solid #dbdbdb;
    border-radius: 6px 6px 0 0;
    border-top: none;
    bottom: 100%;
    box-shadow: 0 -8px 8px rgba(10, 10, 10, 0.1);
  top: auto; }
  .navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
  display: block; }
  .navbar .navbar-item.is-active .navbar-dropdown, .navbar-item.is-active .navbar-dropdown.is-boxed, .navbar .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed, .navbar .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed, .navbar .navbar-item.is-hoverable:hover .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
    opacity: 1;
    pointer-events: auto;
  transform: translateY(0); }
  .navbar-menu {
    flex-grow: 1;
  flex-shrink: 0; }
  .navbar-start {
    justify-content: space-around; /* bk */
  margin-right: auto; }
  .navbar-end {
    justify-content: flex-end;
  margin-left: auto; }
  .navbar-dropdown {
    background-color: var(--navbar-dropdown-background);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
  z-index: 20; }
  .navbar-dropdown .navbar-item {
    padding: 0.375rem 1rem;
  white-space: nowrap; }
  .navbar-dropdown a.navbar-item {
  padding-right: 1.5rem; } /*bk */
  .navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
    background-color: var(--accent);
  color: var(--navbar-color-dark); }
  .navbar-dropdown a.navbar-item.is-active {
    background-color: var(--accent);
  color: var(--navbar-color-dark)}
  .navbar .navbar-dropdown, .navbar-dropdown.is-boxed {
    border-radius: 6px;
    border-top: none;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    display: block;
    opacity: 0;
    pointer-events: none;
    top: calc(100% + (-4px));
    transform: translateY(-5px);
    transition-duration: 86ms;
  transition-property: opacity, transform; }
  .navbar-dropdown.is-right {
    left: auto;
  right: 0; }
  .navbar-divider {
  display: block; }
  a.navbar-item.is-active,
  .navbar-link.is-active {
  color: var(--navbar-background); }
  a.navbar-item.is-active:not(:focus):not(:hover),
  .navbar-link.is-active:not(:focus):not(:hover) {
  background-color: transparent; }
  .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
background-color: transparent; } }

