.menu-list {
  line-height: 1.25;
}

.menu-list a {
  border-radius: 2px;
  color: var(--color-body); 
  display: block;
  padding: 0.5em 0.75em;
}

.menu-list a:hover{
  background-color: var(--color-smoke-50);
  color: var(--color-body);
}

.menu-list a:active {
  background-color: var(--color-secondary);
  color: var(--color-body);
}

.menu-list li ul {
  border-left: 1px solid var(--color-smoke-90);
  margin: 0.75em;
  padding-left: 0.75em;
}

.menu-list a::before {
    display: block;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -2px;
    right: -2px;
    background-color: var(--color-secondary);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.2s ease;
    transform-origin: left bottom;
    border-radius: 6px;
}

.menu-list a:hover::before {
    display: block;
    transform: scale(1);
}
