.dico #TableOfContents ul {
flex-flow: column nowrap;
  line-height: auto;
  max-height: auto;
}

.dico #TableOfContents {
    padding-top: 27px;
}

.dico #TableOfContents > ul > li > ul {
    padding-left: 6px;
}

.dico #TableOfContents > ul > li {
    margin-bottom: 16px;
}

.dico #TableOfContents > ul > li > a:first-of-type {
    margin-bottom: 4px;
    font-size: 16px;
}

.dico #TableOfContents a {
    position: relative;
    display: block;
    padding: 2px;
    font-size: 14px;
    line-height: 16px;
    color: var(--navbar-background);
    text-decoration: none;
}

.dico #TableOfContents a::before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -2px;
    right: -2px;
    background-color: var(--accent);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.2s ease;
    transform-origin: left bottom;
    border-radius: 6px;
}

.dico #TableOfContents a:hover::before {
    display: block;
    transform: scale(1);
}

.dico #TableOfContents a:active {
    color: var(--navbar-color);
}

.dico #TableOfContents a:active::before {
    display: block;
    background-color: var(--navbar-background);
}

.dico ul li ul li {
  display: block;
  margin: 0;
}

.dico .toc .toc-menu li[data-level="1"] {
  flex-basis: 100%;
  flex-shrink: 0;
}

.dico ul li ul li {
  height: 3em;
  width: 3em;
  flex: 0 0 3em;
  display: block;
  text-align: center;
}

.dico ul li ul li a {
  padding-left: 1rem;
}

.dico ul li ul li a {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
}

/* do not display the preface, and dictionary title level in the body tocs */
.dico ul.sectlevel1 > li:first-child {
  display: none;
}

.dico ul.sectlevel1 > li:last-child > a {
  display: none;
}

.dico ul.sectlevel1 > li:nth-child(2) > a {
  display: none;
}

.dico ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0 0 0 0;
}

.dico div#toctitle {
  display: none;
}
