:root {
  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-15: #bababa;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  /* custom colours */
  --color-orange: #ff6f00;
  --color-blue: #3273dc;
  --color-blue: #4285f4;
  --color-blue: #5c80bc;
  --color-green: #93c54b;
  --color-green: #41af46;
  --color-red: #d9534f;
  --color-yellow: #e8c547;
  --color-primary: #4285f4;
  --color-accent: #cdd1c4;
  --color-accent: #e2e4dd;
  /* bk this is experimental */

  /* base color 60 */
  --base-blue: --color-blue;
  --blue-light:  hsla(var(--base-blue), 50%, 75%, 100%);
  --blue-normal: hsla(var(--base-blue), 50%, 50%, 100%);
  --blue-darker: hsla(var(--base-blue), 50%, 35%, 100%);

  /* base color 2 */
  --base-color2: 120;
  --color2-light:  hsla(var(--base-color2), 50%, 75%, 100%);
  --color2-normal: hsla(var(--base-color2), 50%, 50%, 100%);
  --color2-darker: hsla(var(--base-color2), 50%, 35%, 100%);

  /*base color 3 */
  --base-color3: 200; 
  --color3-light:  hsla(var(--base-color3), 50%, 75%, 100%);
  --color3-normal: hsla(var(--base-color3), 50%, 50%, 100%);
  --color3-darker: hsla(var(--base-color3), 50%, 35%, 100%);


 /* from bulma */
  --black-bis: hsl(0, 0%, 7%);
  --black-ter: hsl(0, 0%, 14%);
  --grey-darker: hsl(0, 0%, 21%);
  --grey-dark: hsl(0, 0%, 29%);
  --grey-light: hsl(0, 0%, 71%);
  --grey-lighter: hsl(0, 0%, 86%);
  --white-ter: hsl(0, 0%, 96%);
  --white-bis: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 4%);
  --light: hsl(0, 0%, 96%);
  --dark: hsl(0, 0%, 21%);

  --turquoise: hsl(171, 100%, 41%);
  --blue: hsl(217, 71%, 53%);
  --cyan: hsl(204, 86%, 53%);
  --green: hsl(141, 53%, 53%);
  --yellow: hsl(48, 100%, 67%);
  --red: hsl(348, 100%, 61%);

  --primary: var(--turquoise); 
  --link: var(--blue);
  --info: var(--cyan);
  --success: var(--green);
  --warning: var(--yellow);
  --danger: var(--red);

  --color-secondary: var(--yellow);
  --secondary: var(--color-secondary);
  --accent: var(--secondary);
  --accent-light:  hsla(var(--accent), 50%, 75%, 100%);


  --color-set-panel: var(--color-accent);
  --table-set-stripe-background: var(--color-smoke-10);


  --body-font-family: "Noto Sans", sans-serif;
  --monospace-font-family: "Cousine", monospace;
  --navbar-font-family: "Varela", sans-serif;


  /* utils */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  

/* fonts */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);


  /* navbar */
  --navbar-height: 3.5rem; 
  --navbar-background: var(--black-ter);
  --navbar-color: var(--white-ter); /* */
  --navbar-color-dark: var(--black-ter); /* */
  --navbar-font-color: var(--navbar-color); /* */
  --navbar-hover-background: var(--grey-lighter); /* bk*/
  --navbar-button-background: var(--navbar-background);
  --navbar-button-border-color: var(--accent);
  --navbar-button-font-color: var(--navbar-color);
  --navbar-menu-border-color: var(--accent);
  --navbar-menu-box-shadow: rgba(160, 160, 160, 0.15);
  --navbar-menu-background: var(--navbar-background); /*bk*/
  --navbar-menu-font-color: var(--navbar-color);
  --navbar-menu-hover-background: var(--grey-lighter);
  --navbar-dropdown-background: var(--grey-dark);
  --footer-background: var(--secondary);

  /* stacking */
  --z-index-nav: 1;
  --z-index-navbar: 1002;
}

