<div class="hero sidebarblock">
  <div class="inner-hero">
    <h1 big><a href="{{ .Site.BaseURL | relLangURL }}" rel="home">{{ .Site.Title | safeHTML }}</a></h1>
    {{ if .Site.Params.description }}
    <h3>{{ .Site.Params.description }}</h3>
    {{ end }}
  </div>
</div>

