<div class="tags">
  {{ if .Params.tags }}
  {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}
      <span class=tag>
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>
      </span>
  {{ end }}

  {{ end }}
</div>
{{- /* vim: set ts=2 sw=2 et: */}}
