    {{- partial "reading-time.html" . -}}
  {{ if .Params.tags }}
  {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}
  <div class="tag">
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>
  </div>
  {{ end }}
  {{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}
