{{/* Link directly to documentation etc., if possible. */}}
{{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
<div class="navbar" id="sidebar">
<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link" href="#">
	{{ $langPage.Language.LanguageName }}
</a>
<div class="navbar-dropdown">
      {{ $tagcolor := .Site.Params.params.color }}
	{{ range $langPage.Translations }}
    <a class="navbar-item {{ $tagcolor }}" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
	{{ end }}
</div>
</div>
