<nav class="level">
  <div class="level-left">
  <div class="tag is-warning">
    <a {{if .PrevInSection}}href="{{.PrevInSection.RelPermalink}}"aria-label="{{ T "ui_pager_prev" }} - {{.PrevInSection.Title}}"{{end}} class="pagination-p {{if not .PrevInSection}} disabled{{end}}"><span class="mr-1">←</span> {{ T "ui_pager_prev" }}</a>
  </div>
  </div>
  <div class="level-right">
  <div class="tag is-warning">
    <a {{if .NextInSection}}href="{{.NextInSection.RelPermalink}}"aria-label="{{ T "ui_pager_next" }} - {{.NextInSection.Title}}"{{end}} class="pagination-n {{if not .NextInSection}} disabled{{end}}">{{ T "ui_pager_next" }} <span class="ml-1">→</span></a>
  </div>
  </div>
</nav>
