{{ if .Path }}
  {{ $pathFormatted := replace .Path "\\" "/" }}
  {{ $gh_repo := ($.Param "github_repo") }}
  {{ $gh_subdir := ($.Param "github_subdir") }}
  {{ $gh_project_repo := ($.Param "github_project_repo") }}
  {{ $gh_branch := (default "master" ($.Param "github_branch")) }}
  <div class="box">
  {{ if $gh_repo }}
    {{ $gh_repo_path := printf "%s/content/%s" $gh_branch $pathFormatted }}
    {{ if and ($gh_subdir) (.Site.Language.Lang) }}
      {{ $gh_repo_path = printf "%s/%s/content/%s/%s" $gh_branch $gh_subdir ($.Site.Language.Lang) $pathFormatted }}
    {{ else if .Site.Language.Lang }}
      {{ $gh_repo_path = printf "%s/content/%s/%s" $gh_branch ($.Site.Language.Lang) $pathFormatted }}
    {{ else if $gh_subdir }}
      {{ $gh_repo_path = printf "%s/%s/content/%s" $gh_branch $gh_subdir $pathFormatted }}
    {{ end }}
    {{ $editURL := printf "%s/edit/%s" $gh_repo $gh_repo_path }}
    {{ $createURL := printf "%s/edit/%s" $gh_repo $gh_repo_path }}
    {{ $issuesURL := printf "%s/issues/new?title=%s" $gh_repo (safeURL $.Title )}}
    {{ $newPageStub := resources.Get "stubs/new-page-template.md" }}
    {{ $newPageQS := querify "value" $newPageStub.Content "filename" "change-me.md" | safeURL }}
    {{ $newPageURL := printf "%s/new/%s?%s"  $gh_repo $gh_repo_path $newPageQS }}
    <li>
    <a href="{{ $editURL }}" target="_blank"><i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}</a>
    </li>
    <li>
    <a href="{{ $newPageURL }}" target="_blank"><i class="fa fa-edit fa-fw"></i> {{ T "post_create_child_page" }}</a>
    </li>
    <li>
    <a href="{{ $issuesURL }}" target="_blank"><i class="fab fa-github fa-fw"></i> {{ T "post_create_issue" }}</a>
    </li>
    {{ if $gh_project_repo }}
      {{ $project_issueURL := printf "%s/issues/new" $gh_project_repo }}
    <li>
      <a href="{{ $project_issueURL }}" target="_blank"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_project_issue" }}</a>
    </li>
    {{ end }}

  {{ end }}
  {{ with .CurrentSection.AlternativeOutputFormats.Get "print" }}
    <li>
    <a id="print" href="{{ .Permalink | safeURL }}"><i class="fa fa-print fa-fw"></i> {{ T "print_entire_section" }}</a>
    </li>
  {{ end }}
  </div>
{{ end }}
