<row id="sticky" class="powerline is-fixed-top">

<div class="prompt-left">
  <div class="item bg-blue">&nbsp;</div>
  <div class="item bg-blue fg-white">&nbsp;NORMAL&nbsp;</div>
  <div class="item fg-blue bg-gray"></div>
  <div class="item bg-gray"> ~ </div>
  <div class="item fg-gray"></div>
</div>

<div class="filler"></div> 

<div class="prompt-right">
  <div class="item fg-dark-gray"></div>
  <div class="item fg-white bg-dark-gray">&nbsp;[unix] </div>
  <div class="item bg-dark-gray fg-gray"></div>
  <div class="item bg-gray"> 100% ☰ : 1 </div>
  <div class="item fg-orange bg-gray"></div>
  <div class="item bg-orange">&nbsp;</div>
  <div class="item fg-red bg-orange"></div>
</div>

</row>
