{{ $context := .context  }}
{{ $taxo := .taxo  }}
{{ $title := .title  }}
{{ if isset $context.Site.Taxonomies ( lower $taxo ) }}
  {{ $taxonomy := index $context.Site.Taxonomies ( lower $taxo ) }}
  {{ if (gt (len $taxonomy) 0)}}
    <div class="taxo-{{ urlize $taxo }}">
      {{ with $title }}
      <h5 class="title">{{ . }}</h5>
      {{ end }}
      <div class="field is-grouped is-grouped-multiline">
        {{ range $taxonomy }}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">
              <a href="{{ .Page.Permalink }}" data-taxonomy-term="{{ urlize .Page.Title }}">{{ .Page.Title }}</a>
            </span>
            <span class="tag is-warning">{{ .Count }}</span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
    <br>
