{{ $context := .context  }}
{{ $taxo := .taxo  }}
{{ if (gt (len ($context.GetTerms $taxo)) 0)}}
<div class="taxonomy taxonomy-terms-article taxo-{{ urlize $taxo }}">
  <h5 class="taxonomy-title">{{ humanize $taxo }}:</h5>
  <div class="taxonomy-terms">
    {{ range ($context.GetTerms $taxo) }}
      <li><a class="taxonomy-term" href="{{ .Permalink }}" data-taxonomy-term="{{ urlize .LinkTitle }}"><span class="taxonomy-label">{{ .LinkTitle }}</span></a></li>
    {{ end }}
  </div>
</div>
{{ end }}
