{{ if and (gt .WordCount 4 ) (.Params.toc) }}
    <header>
    <h2>{{.Title}}</h2>
    </header>
    {{.TableOfContents}}
{{ end }}
    <div class={{ .Type  }}-toc>
    {{.TableOfContents}}
    </div>
