<div class="field is-grouped is-grouped-multiline">
  {{ if .IsTranslated }}
    {{ range .Translations }}
      {{ $tagcolor := .Site.Params.params.color }}
      <div class="control">
      <div class="tags has-addons">
        <span class="tag {{ $tagcolor  }}" >{{ .Lang }}</span>
        <span class="tag {{ $tagcolor }} is-light"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
      </div>
      </div>
    {{ end }}
  {{ end }}
</div>
