.tags {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.tags li {
  float: left; 
}

.tags img.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: 1rem;
  height: auto;}

.tag {
  background: var(--grey-lighter);
  border-radius: 3px 0 0 3px;
  color: var(--black-ter);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

.tag.red.arrow{
  background: var(--color-red);
  color: var(--body-font-color);
}

.tag.blue.arrow{
  background: var(--color-blue);
  color: var(--body-font-color);
}

.tag.green.arrow{
  background: var(--color-green);
  color: var(--body-font-color);
}

.tag.yellow.arrow{
  background: var(--color-yellow);
  color: var(--body-font-color);
}
.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.arrow::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.blue.arrow::after{
  border-left: 10px solid var(--color-blue);
}

.yellow.arrow::after{
  border-left: 10px solid var(--color-yellow);
}

.green.arrow::after{
  border-left: 10px solid var(--color-green);
}

.red.arrow, .red.arrow::after{
  border-left: 10px solid var(--color-red);
}

.orange.arrow::after{
  border-left: 10px solid var(--color-orange);
}

.tag.red:hover {
  background-color: var(--color-red);
  color: white;
}

.tag.blue:hover {
  background-color: var(--color-blue);
  color: white;
}

.tag.green:hover {
  background-color: var(--color-green);
  color: white;
}

.tag.yellow:hover {
  background-color: var(--color-yellow);
  color: grey;
}
