<table class="table fonts is-size-3">
<tbody>
<tr>
<th>Font name
<th>Sample
<tr style="font-family: Andika ;">
<td>Andika
<td style="font-family: Andika ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye
<tr style="font-family: Balsamiq Sans ;">
<td>Balsamiq Sans
<td style="font-family: Balsamiq Sans ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni
ŋania ɲuman ye
<tr style="font-family: Brygada 1918 ;">
<td>Brygada 1918
<td style="font-family: Brygada 1918 ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni
ŋania ɲuman ye
<tr style="font-family: Cousine ;">
<td>Cousine
<td style="font-family: Cousine ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye
<tr style="font-family: Gentium Basic ;">
<td>Gentium Basic
<td style="font-family: Gentium Basic ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni
ŋania ɲuman ye
<tr style="font-family: Inter ;">
<td>Inter
<td style="font-family: Inter ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye
<tr style="font-family: Noto Sans ;">
<td>Noto Sans
<td style="font-family: Noto Sans ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye
<tr style="font-family: Tinos ;">
<td>Tinos
<td style="font-family: Tinos ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye
<tr style="font-family: Varela ;">
<td>Varela
<td style="font-family: Varela ;">Mɔgɔkɔrɔw kaɲi ka kɛ ni ŋania
ɲuman ye</table>
